<form class="form-container" *ngIf="movie">
    <div class="form-group">
      <label for="exampleInputEmail1">English Title</label>
      <input type="text" class="form-control" id="inputTitleEN" placeholder="e.g. Frozen">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Slovak Title</label>
      <input type="text" class="form-control" id="inputTitleSK" placeholder="e.g. Ľadové">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Genre</label>
      <input type="text" class="form-control" id="inputGenre" placeholder="Genre">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Year</label>
      <input type="number" class="form-control" id="inputYear" placeholder="Year">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Director</label>
      <input type="text" class="form-control" id="inputDirector" placeholder="Director">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Actors</label>
      <input type="text" class="form-control" id="inputActors" placeholder="Actors">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" class="form-control" id="inputDescription" placeholder="Desc.">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">English Second Title</label>
      <input type="text" class="form-control" id="inputSecondTitleEN" placeholder="e.g. 2">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Slovak Second Title from another Mother</label>
      <input type="text" class="form-control" id="inputSecondTitleSK" placeholder="e.g. Kráľovstvo 2">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Youtube Source</label>
      <input type="text" class="form-control" id="inputYoutubeSrc" placeholder="Embed">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Image Source</label>
      <input type="text" class="form-control" id="inputImgSrc" placeholder="Img Src">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Length</label>
      <input type="number" class="form-control" id="inputLength" placeholder="Length in milliseconds">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Imdb Source</label>
      <input type="text" class="form-control" id="inputImdbSrc" placeholder="IMDB Source">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Data Title</label>
      <input type="text" class="form-control" id="inputDataTitle" placeholder="Data Title">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
